@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.login-title{
    font-family: 'Bebas Neue', cursive;
}

body{
    font-family: 'Raleway', sans-serif;
}

.forgot-pass{
    text-decoration: none;
    color: black;
}

.btn:hover{
    color: white;
}


@media only screen and (min-width:576px){
    
    .login-form{
        margin: 100px 400px auto 400px;
    }
}

@media only screen and (max-width:576px){
    
    .login-form{
        margin-top: 60px;
    }
}
